$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi: 600;
$font-bold: 700;
$font-black: 900;

.font-thin { font-weight: $font-thin; }
.font-light { font-weight: $font-light; }
.font-regular { font-weight: $font-regular; }
.font-medium { font-weight: $font-medium; }
.font-semi { font-weight: $font-semi; }
.font-bold { font-weight: $font-bold; }
.font-black { font-weight: $font-black; }

@mixin font-thin { font-weight: $font-thin; }
@mixin font-light { font-weight: $font-light; }
@mixin font-regular { font-weight: $font-regular; }
@mixin font-medium { font-weight: $font-medium; }
@mixin font-semi { font-weight: $font-semi; }
@mixin font-bold { font-weight: $font-bold; }
@mixin font-black { font-weight: $font-black; }