.popup__wrapper {
  padding: 20px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  max-width: 545px;
  width: 100%;
  border-radius: 20px;

  //@include r($breakpoint-4) {
  //  padding: 25px 15px;
  //}

  .fancybox-close-small {
    background-color: #F4F8F9;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    color: $primary;
    padding: 8px;

    &:hover {
      background-color: #CAD1D3;
    }

    @include r($breakpoint-4) {
      top: 8px;
      right: 8px;
    }
  }

  &-small {
    max-width: 335px;
  }
}

.fancybox-is-open .fancybox-bg {
  background: #8F8F8F;
  opacity: .7;
}

.popup-hide-close-button {
  .fancybox-close-small {
    display: none;
  }
}