$title-h1: 49px;
$title-h2: 42px;
$title-h3: 38px;
$title-h4: 35px;
$title-h5: 22px;
$title-h6: 20px;

$text: 19px;
$text2: 16px;
$text3: 15px;
$text4: 14px;
$text5: 13px;

@mixin title-h1 {
  font-size: $title-h1;

  @include r($breakpoint-2) {
    font-size: 24px;
  }
}
@mixin title-h2 {
  font-size: $title-h2;
  @include r($breakpoint-2) {
    font-size: 22px;
  }
}
@mixin title-h3 {
  font-size: $title-h3;

  @include r($breakpoint-2) {
    font-size: 22px;
  }
}
@mixin title-h4 {
  font-size: $title-h4;

  @include r($breakpoint-2) {
    font-size: 20px;
  }
}
@mixin title-h5 {
  font-size: $title-h5;

  @include r($breakpoint-2) {
    font-size: 16px;
  }
}
@mixin title-h6 {
  font-size: $title-h6;

  @include r($breakpoint-2) {
    font-size: 16px;
  }
}
@mixin text {
  font-size: $text;

  @include r($breakpoint-2) {
    font-size: 14px;
  }
}
@mixin text2 {
  font-size: $text2;

  @include r($breakpoint-2) {
    font-size: 14px;
  }
}
@mixin text3 {
  font-size: $text3;

  @include r($breakpoint-2) {
    font-size: 13.7px;
  }
}
@mixin text4 {
  font-size: $text4;

  @include r($breakpoint-2) {
    font-size: 12px;
  }
}
@mixin text5 {
  font-size: $text5;
}

.title-h1 { @include title-h1 }
.title-h2 { @include title-h2 }
.title-h3 { @include title-h3 }
.title-h4 { @include title-h4 }
.title-h5 { @include title-h5 }
.title-h6 { @include title-h6 }
.text { @include text }
.text2 { @include text2 }
.text3 { @include text3 }
.text4 { @include text4 }
.text5 { @include text5 }

.font-xs-16 {
  @include r($breakpoint-3) {
    font-size: 16px !important;
  }
}