<div id="popup-terms" class="popup__wrapper popup__wrapper-small" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper mb-4">
            <div class="title-h6 font-medium mb-3 color-darkPrimary">Условия займа</div>
        </div>
        <div class="color-grayText2 text5 lh13 mb-3">
            <p>Укажите нужную вам сумму и срок с помощью кредитного калькулятора. Затем нажмите кнопку «Получить заём»</p>
            <p>Наши специалисты примут решение о выдаче займа в течение 15 минут</p>
            <p>Подтвердите договор с помощью SMS кода, и сразу же получите деньги на карту.</p>
        </div>

        <button class="button button-primary w-100 text4 button-small-radius">Получить займ</button>
    </div>
</div>

<div id="popup-signup" class="popup__wrapper popup__wrapper-small" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper mb-4">
            <div class="title-h6 font-medium mb-3 color-darkPrimary">Вход в личный кабинет</div>
        </div>
        <label class="field mb-3 w-100">
            <span class="text4 mb-1 color-darkPrimary mb-2 d-inline-block">Ваш номер телефона:</span>
            <input type="text" class="field__input js-tel" placeholder="Введите номер">
        </label>

        <button class="button button-primary w-100 text4 button-small-radius">Получить займ</button>
    </div>
</div>