@import "mixins";
@import "fonts";
@import "common/breakpoints";
@import "common/fonts";
@import "common/colors";
@import "common/one-classes";
@import "common/selections";
@import "common/states";
//@import "common/swiper-custom";
@import "common/buttons";
@import "common/popup";
@import "common/titles";

html, body {
  position: relative;
  font-family: Roboto, sans-serif;
  @include text2;
  @include font-regular;
  line-height: 1.4;
  color: $dark;
  background-color: $white;
  padding: 0;
  margin: 0;
  max-width: 100%;

  @include scroll;

  &.fixed {
    overflow: hidden;

    @include rmin($breakpoint-2) {
      padding-right: 15px;
    }
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
/* Custom animation */
.fancybox-slide--html {
  padding: 0;
}
.fancybox-fx-slide-in-in.fancybox-slide--next,
.fancybox-fx-slide-in-in.fancybox-slide--previous {
  transform: translateX(100%);
}

.fancybox-fx-slide-in-in.fancybox-slide--current {
  transform: translateX(0);
}

sup {
  font-size: 0.65em;
  top: -0.7em;
}

.list {
  margin-left: 0;
  padding-left: 25px;

  li {
    position: relative;
    margin-bottom: 15px;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "";
      background-color: $primary;
      left: -22px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

$container: 1236px;

@mixin container {
  max-width: $container;
}
.container {
  @include container;

  //@include r($breakpoint-2) {
  //  padding-left: 5px;
  //  padding-right: 5px;
  //}
}

.container-small {
  @include r($breakpoint-3) {
    padding-left: 36px;
    padding-right: 36px;
  }
}


.tooltip-link {
  cursor: pointer;
  min-width: 20px;
}

.svg-sprite {
  position: absolute;
  bottom: 0;
}

a {
  color: $primary;
  @include ease-long;

  &:hover {
    color: $dark;
  }
}

.mdc-tooltip {

  .mdc-tooltip__surface {
    max-width: 632px;
    white-space: normal;
    padding: 30px;

    @include text2;
    line-height: 1.2;
    text-align: left;
    color: $dark;

    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
    background: $white;
    border-radius: 20px;

    @include r($breakpoint-2) {
      padding: 15px;
      border-radius: $radius;
    }
  }
}
